<!DOCTYPE html>
<script type="webbundle">
{
    "source": "by_resource.wbn",
    "resources": [ 
        "by_resource/blue.png",
        "by_resource/red.png"
    ]
}
</script>

<script type="webbundle">
    {
        "source": "blocked_bundle.wbn",
        "resources": [ 
            "blocked_bundle/green.png",
            "blocked_bundle/purple.png"
        ]
    }
</script>

<script type="webbundle">
    {
        "source": "by_scope.wbn",
        "scopes": [ 
            "by_scope"
        ]
    }
</script>

<script type="webbundle">
    {
        "source": "uuid_in_package_by_resource.wbn",
        "resources": [
            "uuid-in-package:429fcc4e-0696-4bad-b099-ee9175f023ae"
        ]
    }
</script>

<script type="webbundle">
    {
        "source": "uuid_in_package_by_scope.wbn",
        "resources": [
            "uuid-in-package:429fcc4e-0696-4bad-b099-ee9175f023ad"
        ]
    }
</script>

<h3>Chromium Web bundles test</h3>

<h4>Identified by resource</h4>

<img src="by_resource/blue.png" />
<img src="by_resource/red.png" />

<h4>Blocked bundle</h4>

<img src="blocked_bundle/green.png" />
<img src="blocked_bundle/purple.png" />

<h4>Identified by scope</h4>

<img src="by_scope/orange.png" />
<img src="by_scope/pink.png" />

<br>

<iframe src="uuid-in-package:429fcc4e-0696-4bad-b099-ee9175f023ae" width="100%"></iframe>

<br>

<iframe src="uuid-in-package:429fcc4e-0696-4bad-b099-ee9175f023ad" width="100%"></iframe>

<p>
Please <a href="{{{offline_bundle_baseUrl}}}/offline_bundle.wbn">click here</a> to download the offline bundle for <a href="{{{offline_bundle_baseUrl}}}">{{{offline_bundle_baseUrl}}}</a>.
</p>
