<!DOCTYPE html>
<html>
 <script type="webbundle">
     {
         "source": "{{{baseUrl}}}/uuid_in_package_by_resource.wbn",
         "resources": [
             "{{{baseUrl}}}/uuid_in_package_by_resource/skyblue.png",
             "{{{baseUrl}}}/uuid_in_package_by_resource/yellowgreen.png"
         ]
     }
 </script>
 <h4>Identified by resource inside iframe</h4>
 <img src="{{{baseUrl}}}/uuid_in_package_by_resource/skyblue.png" />
 <img src="{{{baseUrl}}}/uuid_in_package_by_resource/yellowgreen.png" />
 <p>
  Please <a href="https://github.com/WICG/bundle-preloading">click here</a> to move to github.
 </p>
</html>
