<!DOCTYPE html>
<html>
 <script type="webbundle">
     {
         "source": "{{{baseUrl}}}/uuid_in_package_by_scope.wbn",
         "scopes": [
             "{{{baseUrl}}}/uuid_in_package_by_scope"
         ]
     }
 </script>
 <h4>Identified by scope inside iframe</h4>
 <img src="{{{baseUrl}}}/uuid_in_package_by_scope/darkgrey.png" />
 <img src="{{{baseUrl}}}/uuid_in_package_by_scope/orangered.png" />
 <p>
  Please <a href="https://github.com/WICG/bundle-preloading">click here</a> to move to github.
 </p>
</html>
