<!DOCTYPE html>
<link rel="stylesheet" href="red.css">
<link rel="stylesheet" href="green.css">
<link rel="stylesheet" href="blue.css">
<link rel="stylesheet" href="yellow.css">
<link rel="stylesheet" href="purple.css">
<style>
  div {
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 1px solid white;
  }
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
  }
</style>
<p>
  Offline bundle main page
</p>
<div class="container">
  <div class="red">red</div>
  <div class="green">green</div>
  <div class="blue">blue</div>
  <div class="yellow">yellow</div>
  <div class="purple">purple</div>
</div>

<iframe src="{{{offline_bundle_subresource_baseUrl}}}" width="600px" height="200px"></iframe>

<p>
  Please <a href="{{{offline_bundle_subresource_baseUrl}}}">click here</a> to move to the sub page.
</p>
<p>
  Please <a href="https://github.com/WICG/bundle-preloading">click here</a> to move to github.
</p>
