<!DOCTYPE html>
<html>
 <script type="webbundle">
     {
         "source": "{{{base_url}}}/uuid_in_package_by_scope.wbn",
         "scopes": [
             "{{{base_url}}}/uuid_in_package_by_scope"
         ]
     }
 </script>
 <h4>Identified by scope inside iframe</h4>
 <img src="{{{base_url}}}/uuid_in_package_by_scope/darkgrey.png" />
 <img src="{{{base_url}}}/uuid_in_package_by_scope/orangered.png" />
</html>
